<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://feedbackfunctiontest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5f95d256-6f21-4494-8b24-83cd9ab0ab91/resourceGroups/FeedBack/providers/Microsoft.Web/sites/FeedBackFunctionTest</ResourceId>
    <UserName>$FeedBackFunctionTest</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://feedbackfunctiontest.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>